@media (max-width: 1180px) {

  #experience #stacks-cont {
    flex-direction: column;
  }

  #experience #stacks-cont .stack-card .tools-cont {
    justify-content: center;
  }

}


/* Tablet */
@media (max-width: 778px) {
  html {
    font-size: 10px;
  }

  .section-head h2 {
    font-size: 2rem;
  }

  #nav-bar {
    display: none;
  }

  #nav-bar-mobile {
    display: flex;
  }

  #nav-list-mobile {
    display: none;
    flex-direction: column;
    background: #e7e7e7;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
  }

  #hamburger-icon #close-icon {
    display: none;
  }

  #hamburger-icon.open #open-icon {
    display: none;
  }

  #hamburger-icon.open #close-icon {
    display: flex;
  }


  #nav-list-mobile.open {
    display: flex;
  }



  #hero-sec {
    flex-direction: column;
    gap: 3rem;
  }

  .image-cont {
    width: 200px;
    height: 200px;
  }

  .info-cont {
    gap: 1.5rem;
  }



  /* Start About me section */

  #about-me {
    margin: 2rem 3rem;
  }

  #about-me .about-body {
    flex-direction: column;
    align-items: center;
  }


  #about-me .about-img-cont {
    width: 270px;
    height: 270px;
  }

  #experience {
    padding: 0 3rem;
    padding-top: 25px;
  }

}



/* mobile */
@media (max-width: 320px) {



  .image-cont {
    width: 150px;
    height: 150px;
  }



  #contact-me {
    padding: 2rem;

  }

}

@media print {
  .image-cont {
    display: none;
  }


}